.hero{
	height: 90vh;
	background-attachment: fixed;
}

#logo-svg{
	padding: 80px 10px 0px;
	position: relative;
    z-index: 2;
}
h1{
	text-align: center;
}
h2{
	font-size: 44px;
	font-family: $font1;
	font-weight: 900;
	margin-top: 0;
}

h3{
	font-size: 26px;
    line-height: 38px;
    font-weight: 100;
    font-family: $font2;
}
h3.style{
	font-family: $font1;	
	letter-spacing: 7px;
	font-weight: 25px;
}
p{
	font-size: 13px;
	line-height: 35px;
	letter-spacing: 1px;
}
section{
	padding: 100px 10px;
	outline: none;
}

nav.nav-home a{
	color: $lightestGrey;
}